/* Unbounded Regular */
@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Unbounded Medium */
@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Unbounded Bold */
@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}