@import url('fonts.css');
:root {
    --text-color: #E3E3E3;
    --font-primary: 'Unbounded', sans-serif;
    --h1-size: 40px;
    --h2-size: 32px;
    --p-size: 20px;
    
}

/* СБРОС И БАЗА */
* { margin: 0; padding: 0; box-sizing: border-box; }
html { font-size: 16px; scroll-behavior: smooth; }

/* ОСНОВНЫЕ СТИЛИ ВСЕГО САЙТА */
body {
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--text-color);
    background: #000;
    line-height: 1.6;
}

.container {
  max-width: 1400px; /* Выберите одну максимальную ширину */
  margin: 0 auto;
  padding: 0 20px; /* Единые отступы */
}

/* ОБЩИЕ ТЕГИ (для ВСЕГО сайта) */
h1 { font-size: var(--h1-size); font-weight: 700; }
h2 { font-size: var(--h2-size); font-weight: 700; }
p { font-size: var(--p-size); }

/* АДАПТИВНОСТЬ */
/* Планшеты */
@media (max-width: 1024px) {
    :root {
        --h1-size: 32px;
        --h2-size: 28px;
        --p-size: 18px;
    }
    
    .container {
        padding: 0 30px;
    }
}

/* Мобильные устройства */
@media (max-width: 768px) {
    :root {
        --h1-size: 24px;
        --h2-size: 22px;
        --p-size: 16px;
    }
    
    .container {
        padding: 0 20px;
    }
    
    html {
        font-size: 14px;
    }
}


